.header-section
    grid-column: 2/3
    background-color: $gray-color
.nav-wrapper
    height: 7rem

    display: flex
    justify-content: space-between
    margin-bottom: 8rem
.nav-list
    display: grid
    grid-template-columns: repeat(4, min-content)
    column-gap: 8rem
    &__item a
        color: $black-color

.welcome
    &__main-title
        margin-bottom: 7rem
    &__text
        max-width: 51.6rem

