.services-section
    .card
        background-color: $gray-color
        padding: 5rem
        display: grid
        row-gap: 2.3rem
        &__img
            height: 9.2rem
            
        li 
            list-style: inside
            .paragraph-text
                line-height: 150%