.services-section
    .card
        background-color: $gray-color
        padding: 5rem
        display: grid
        row-gap: 2.3rem
        transition: all .4s
        @media (max-width: 1000px) 
            padding: 3rem
        @media (max-width: 480px)
            grid-template-columns: min-content 1fr
            column-gap: 2rem
            padding: 2.5rem
            align-items: center
            &__description
                grid-column: 1/-1
                
        &__img
            height: 9.2rem
            @media (max-width: 1000px) 
                height: 7.2rem
            
        li 
            list-style: inside
            line-height: 130%
            margin-bottom: .9rem

