/* h1 */
.main-title 
    font-family: komet, sans-serif
    font-size: 6.4rem
    font-style: normal
    font-weight: 900
    line-height: 112.5%

/* h2  */
.second-title
    font-family: komet, sans-serif
    font-size: 4.8rem
    font-style: normal
    font-weight: 900
    line-height: 112.5%

/* h3 */
.third-title
    font-family: komet, sans-serif
    font-size: 3.2rem
    font-style: normal
    font-weight: 700
    line-height: normal

/* h4 */

@font-face
    font-family: 'open sans'
    src: local('open sans')
    src: url(../font/Open_Sans/static/OpenSans-Regular.ttf)


.paragraph-text
    font-family: open sans, sans-serif
    line-height: 170%
    font-size: 2rem
    font-style: normal
    font-weight: 400

.paragraph-text_bold
    font-weight: 600
.paragraph-text_normal
    line-height: normal

.open-sans-16
    font-family: open sans, sans-serif
    font-size: 1.6rem
    font-style: normal
    font-weight: 400
    line-height: 112.5%

.open-sans-16_bold
    font-weight: 700

.open-sans-16_italic
    font-style: italic


