.our-team-section
    &__title
        max-width: 60rem
        margin-bottom: 3.6rem
    &__text
        max-width: 64rem
        margin-bottom: 8rem
    .btn-wrapper
        display: flex
        justify-content: center
    .coworkers-box
        display: grid
        grid-template-rows: repeat(2, min-content)
        grid-template-columns: repeat(auto-fill, 25rem)
        gap: 3rem
        margin-bottom: 4.6rem


.services-section
    &__title
        margin-bottom: 8rem
        padding-top: 10rem
    &__cards-box
        display: grid
        grid-template-columns: repeat(auto-fill, 54.5rem)
        gap: 5rem
        align-items: start


.advantages-section
    background-color: $gray-color
    padding: 10rem 0 11rem 0
    &__title
        margin-bottom: 3.6rem
    &__text
        max-width: 66rem
        margin-bottom: 8rem
.advantages-section__box
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 11.2rem
    row-gap: 3.2rem
    img, .box-item__title
        margin-bottom: 1.4rem


// .prices-section
.prices-section
    &__title
        margin-bottom: 7rem
    
.reviews-section
    background-color: $gray-color
    padding-top: 10rem
    &__title
        margin-bottom: 7rem
    .btn-wrapper
        display: flex
        justify-content: center
        margin-bottom: 11rem
.reviews-section__box
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(40rem, 62.5rem) )
    gap: 3rem
    margin-bottom: 9.5rem
    
// .contacts-section
.contacts-section
    &__title
        margin-bottom: 8rem
    &__wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
    .details-text
        font-size: 1.6rem
        font-style: normal
        font-weight: 400
        line-height: 150%
    .wrapper
        margin-bottom: 6.3rem
        display: flex
        flex-direction: column
        align-items: flex-start
        .paragraph-text_underline
            color: black
            border-bottom: 2px solid $green-color
    &__form
        display: grid
        row-gap: 1rem
        .form-input
            border: none
            padding: 2rem
            padding-left: 2.5rem
            background: $gray-color
            color: rgba(0, 0, 0, 0.45)
            font-family: open sans, sans-serif
            font-size: 1.6rem
            font-style: normal
            font-weight: 500
            line-height: 112.5%
    &__btn-wrapper
        margin-top: 1rem
#message
    height: 10rem

.hidden
    display: none
    

